# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [23]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
import json
from pandas.io.json import json_normalize
from token2 import *

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\44nas\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

ModuleNotFoundError: No module named 'token2'

In [2]:
# Read your api key environment variable
# YOUR CODE HERE!
from newsapi import NewsApiClient

load_dotenv("api.env")

api_key = os.getenv("news_api")
print(api_key)
type(api_key)

824ea81cd31e42098b2b309b197557a4

str

In [3]:
# Create a newsapi client
# YOUR CODE HERE!
newsapi = NewsApiClient(api_key=api_key)
sid = SentimentIntensityAnalyzer()

In [4]:
def news_dataframe(topic):
    news = newsapi.get_everything(q='{topic}',
                #sources='bbc-news,the-verge',
                language='en',
                sort_by='relevancy')

    
    articles = []
    for article in news['articles']:
        try:
            sentiment = sid.polarity_scores(article["description"])
            title = article["title"]
            description = article["description"]
            text = article["content"]
            date = article["publishedAt"][:10]
            
            articles.append({
                "title": title,
                "description": description,
                "text": text,
                "date": date,
                "compound": sentiment["compound"],
                "positive": sentiment["pos"],
                "negative": sentiment["neg"],
                "neutral": sentiment["neu"],
            })
        except AttributeError:
            pass
    
    return pd.DataFrame(articles)

In [5]:
# Fetch the Bitcoin news articles
# YOUR CODE HERE!
bitcoin_articles = news_dataframe('bitcoin')

In [6]:
# Fetch the Ethereum news articles
# YOUR CODE HERE!
ethereum_articles = news_dataframe('ethereum')

In [7]:
# Create the Bitcoin sentiment scores DataFrame
# YOUR CODE HERE!
bitcoin_articles.head()

,compound,date,description,negative,neutral,positive,text,title
0,0.0000,2021-05-18,Prince Harry speaks about mental health in the...,0.0,1.000,0.000,Morning Express with Robin Meade,Prince Harry and Oprah discuss mental health i...
1,0.8316,2021-05-28,"Hello and welcome back to Equity, TechCrunch’s...",0.0,0.791,0.209,"Hello and welcome back to Equity, TechCrunchs ...",The SPAC trash ticker is counting down
2,0.4588,2021-05-19,"Hello and welcome back to Equity, TechCrunch’s...",0.0,0.930,0.070,"Hello and welcome back to Equity, TechCrunchs ...",What has four wheels and loses money?
3,0.8316,2021-05-24,When I wrote last week about considering wheth...,0.0,0.811,0.189,When I wrote last week about considering wheth...,How to Be a More 'Gentle' Parent (and What It ...
4,0.5267,2021-05-25,It may feel as though we’ve finally said goodb...,0.0,0.888,0.112,It may feel as though weve finally said goodby...,What to Expect From This Year's Hurricane Seas...

In [8]:
# Create the Ethereum sentiment scores DataFrame
# YOUR CODE HERE!
ethereum_articles.head()

,compound,date,description,negative,neutral,positive,text,title
0,0.0000,2021-05-18,Prince Harry speaks about mental health in the...,0.0,1.000,0.000,Morning Express with Robin Meade,Prince Harry and Oprah discuss mental health i...
1,0.8316,2021-05-28,"Hello and welcome back to Equity, TechCrunch’s...",0.0,0.791,0.209,"Hello and welcome back to Equity, TechCrunchs ...",The SPAC trash ticker is counting down
2,0.4588,2021-05-19,"Hello and welcome back to Equity, TechCrunch’s...",0.0,0.930,0.070,"Hello and welcome back to Equity, TechCrunchs ...",What has four wheels and loses money?
3,0.8316,2021-05-24,When I wrote last week about considering wheth...,0.0,0.811,0.189,When I wrote last week about considering wheth...,How to Be a More 'Gentle' Parent (and What It ...
4,0.5267,2021-05-25,It may feel as though we’ve finally said goodb...,0.0,0.888,0.112,It may feel as though weve finally said goodby...,What to Expect From This Year's Hurricane Seas...

In [11]:
# Describe the Bitcoin Sentiment
# YOUR CODE HERE!
bitcoin_articles.describe()

        compound   negative    neutral   positive
count  20.000000  20.000000  20.000000  20.000000
mean    0.377725   0.029900   0.856100   0.113950
std     0.417898   0.062849   0.097783   0.096377
min    -0.476700   0.000000   0.653000   0.000000
25%     0.000000   0.000000   0.789500   0.052500
50%     0.492750   0.000000   0.858000   0.109000
75%     0.690275   0.008500   0.903000   0.150000
max     0.945100   0.215000   1.000000   0.347000

In [39]:
bitcoin_articles["description"][0]

'Prince Harry speaks about mental health in the trailer for an Apple TV+ documentary series with Oprah Winfrey, which aims to destigmatize the topic.'

In [12]:
# Describe the Ethereum Sentiment
# YOUR CODE HERE!
ethereum_articles.describe()

        compound   negative    neutral   positive
count  20.000000  20.000000  20.000000  20.000000
mean    0.377725   0.029900   0.856100   0.113950
std     0.417898   0.062849   0.097783   0.096377
min    -0.476700   0.000000   0.653000   0.000000
25%     0.000000   0.000000   0.789500   0.052500
50%     0.492750   0.000000   0.858000   0.109000
75%     0.690275   0.008500   0.903000   0.150000
max     0.945100   0.215000   1.000000   0.347000

### Questions:

Q: Which coin had the highest mean positive score?

A: 

Q: Which coin had the highest compound score?

A: 

Q. Which coin had the highest positive score?

A:

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [13]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [14]:
# Instantiate the lemmatizer
# YOUR CODE HERE!
lemmatizer = WordNetLemmatizer()

# Create a list of stopwords
# YOUR CODE HERE!
wordslist = ["i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", 
 "yours", "yourself", "yourselves", "he", "him", "his", "himself", "she", "her", 
 "hers", "herself", "it", "its", "itself", "they", "them", "their", "theirs", 
 "themselves", "what", "which", "who", "whom", "this", "that", "these", "those", 
 "am", "is", "are", "was", "were", "be", "been", "being", "have", "has", "had", 
 "having", "do", "does", "did", "doing", "a", "an", "the", "and", "but", "if", "or", 
 "because", "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", 
 "between", "into", "through", "during", "before", "after", "above", "below", "to", 
 "from", "up", "down", "in", "out", "on", "off", "over", "under", "again", "further", 
 "then", "once", "here", "there", "when", "where", "why", "how", "all", "any", "both",
 "each", "few", "more", "most", "other", "some", "such", "no", "nor", "not", "only",
 "own", "same", "so", "than", "too", "very", "s", "t", "can", "will", "just", "don",
 "should", "now"]

# Expand the default stopwords list if necessary
# YOUR CODE HERE!


# ids = reuters.fileids(categories='gold')
# corpus = [reuters.raw(i) for i in ids]

In [41]:
# Complete the tokenizer function

def tokenizer(text):
    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', text)
    # Create a list of the words
    words = word_tokenize(re_clean)
    # Convert the words to lowercase
    words = [t.lower() for t in words]
    # Remove the punctuation
    words = [t.translate(str.maketrans('','',string.punctuation)) for t in words]
    # Remove the stop words
    stop_words = set(stopwords.words('english'))
    words = [w for w in words if not w in stop_words]
    # Lemmatize Words into root words
    output = ', '.join([lemmatizer.lemmatize(word) for word in words])
    return output

# def tokenizer(text):
#     """Tokenizes text."""
    
#     # Remove the punctuation from text

   
#     # Create a tokenized list of the words
    
    
#     # Lemmatize words into root words

   
#     # Convert the words to lowercase
    
    
#     # Remove the stop words
    
    
#     return tokens

In [46]:
# Create a new tokens column for Bitcoin
# YOUR CODE HERE!
# bitcoin_articles["tokens"] = tokenizer("words sent calm")
article = bitcoin_articles["description"]
tokenizer(article)

In [47]:
# Create a new tokens column for Ethereum
# YOUR CODE HERE!
eth_article = ethereum_articles["description"]
tokenizer(eth_article)

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [50]:
import nltk, re, string, collections
from collections import Counter
from nltk import ngrams
from nltk.collocations import *
from nltk.util import ngrams
from sklearn.feature_extraction.text import CountVectorizer

In [51]:
def process_text(doc):
    sw = set(stopwords.words('english'))
    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', doc)
    words = word_tokenize(re_clean)
    lem = [lemmatizer.lemmatize(word) for word in words]
    output = [word.lower() for word in lem if word.lower() not in sw]
    return output

def bigram_counter(corpus): 
    # Combine all articles in corpus into one large string
    big_string = ' '.join(corpus)
    processed = process_text(big_string)
    bigrams = ngrams(processed, n=2)
    top_10 = dict(Counter(bigrams).most_common(10))
    return pd.DataFrame(list(top_10.items()), columns=['bigram', 'count'])

def word_counter(corpus): 
    # Combine all articles in corpus into one large string
    big_string = ' '.join(corpus)
    processed = process_text(big_string)
    top_10 = dict(Counter(processed).most_common(10))
    return pd.DataFrame(list(top_10.items()), columns=['word', 'count'])

In [52]:
# Generate the Bitcoin N-grams where N=2
# YOUR CODE HERE!
corpus = bitcoin_articles["description"]
bigram_counter(corpus)

                      bigram  count
0           (hello, welcome)      2
1            (welcome, back)      2
2           (back, toequity)      2
3    (toequity, techcrunchs)      2
4     (techcrunchs, venture)      2
5  (venture, capitalfocused)      2
6  (capitalfocused, podcast)      2
7          (podcast, unpack)      2
8           (unpack, number)      2
9           (number, behind)      2

In [53]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!
corpus = ethereum_articles["description"]
bigram_counter(corpus)

                      bigram  count
0           (hello, welcome)      2
1            (welcome, back)      2
2           (back, toequity)      2
3    (toequity, techcrunchs)      2
4     (techcrunchs, venture)      2
5  (venture, capitalfocused)      2
6  (capitalfocused, podcast)      2
7          (podcast, unpack)      2
8           (unpack, number)      2
9           (number, behind)      2

In [18]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [19]:
# Use token_count to get the top 10 words for Bitcoin
# YOUR CODE HERE!
def token_count(tokens, N=10):
    """Returns the top N tokens from the frequency count"""
    # Combine all articles in corpus into one large string
    big_string = ' '.join(tokens)
    processed = process_text(big_string)
    top = dict(Counter(processed).most_common(10))
    return pd.DataFrame(list(top.items()), columns=['word', 'count'])

In [20]:
# Use token_count to get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [21]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

from nltk.corpus import stopwords
import nltk
import re
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

import nltk
nltk.download('wordnet')

In [22]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!
corpus_btc = btc_df['tokens'].str.cat(sep=', ')

wc = WordCloud(background_color="white", max_words=200)
wc.generate(corpus_btc)
f = plt.figure(figsize=(150,150))
f.add_subplot(1,2, 2)
plt.imshow(wc, interpolation='bilinear')
plt.title("BTC WORD CLOUD",fontsize=100)
plt.show()

In [23]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!
corpus_eth = eth_df['tokens'].str.cat(sep=', ')

wc = WordCloud(background_color="white", max_words=200)
wc.generate(corpus_eth)
f = plt.figure(figsize=(150,150))
f.add_subplot(1,2, 2)
plt.imshow(wc, interpolation='bilinear')
plt.title("ETH WORD CLOUD",fontsize=100)
plt.show()

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [24]:
import spacy
from spacy import displacy

In [25]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [26]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [27]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [28]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [29]:
# Render the visualization
# YOUR CODE HERE!

In [30]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [31]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [32]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [33]:
# Render the visualization
# YOUR CODE HERE!

In [34]:
# List all Entities
# YOUR CODE HERE!

---